@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

body {
  background: linear-gradient(
    90deg,
    rgb(214,139,255) 0%,
    rgb(77,54,90) 100%
  );
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
